.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

docs/README-old.md
code/radio/f1_cache/
code/2025_f1_predictions/f1_cache/